.Mobile_Acct {
    font-size: 2.2rem;
    margin: 0 3% 0 2%;
}

.Mobile_Balance {
    font-size: 2.4rem;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    margin: .8rem .8rem 0;
    padding: 0rem;
}

.Mobile_Payed-To {
    padding: 0;
    margin: 0;
}

.Mobile_Add-Funds {
    color: rgb(95, 240, 28);
}

.Mobile_Subtract-Funds {
    color: rgb(255, 23, 23);
}

.Mobile_Add-Funds,
.Mobile_Subtract-Funds {
    font-size: 3rem;
    font-weight: 900;
    width: 5rem;
    height: 2rem;
    margin: 0rem 0 1rem;
    padding-bottom: 4rem;
    background-color: rgb(133, 148, 212);
    float: center;
}

#Mobile_Balance {
    font-size: 3rem;
    font-weight: bold;
}


