.LedgerTop {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.LedgerTop_Initial {
    font-size: 2rem;
}

.LedgerTop_Name {
    text-decoration: underline solid rgb(53, 207, 53);
    font-weight: 700;
    font-size: 3rem;
    padding: 0 0 30px 15px;
    width: 65%;
}

.LedgerTop_Acct-Num {
    font-size: 2rem;
    width: 33%;
    text-align: right;
}

.LedgerTop_Balance {
    font-size: 2rem;
    width: 50%;
    padding-left: 1.5rem;
}

.balance, .initial-depo {
    position: relative;
    z-index: 1;
    font-size: 2.5rem;
    background-color: rgba(245, 245, 245, 0.5);
    right: 0;
    padding: 5px;
    border-radius: 8px;
}

.balance {
    position: relative;
    z-index: 1;
    font-weight: 700;
}

.initial-depo {
    position: relative;
    z-index: 1;
    font-weight: 600;
    color: rgb(70, 65, 55);
}

#LedgerTopBalance,
#LedgerTopInitial {
    position: relative;
    z-index: 1;
} 

.my-tooltip {
    position: absolute;
    z-index: 3;
}

.my-tooltip-text {
    position: relative;
    padding: 4px;
    left: 19px;
    bottom: 25px;
    z-index: 2;
    background-color: black;  
    color: white; 
    border-radius: 8px;
    visibility: hidden;
}

.my-tooltip:hover + 
.my-tooltip-text {
    visibility: visible;
}

@media screen and (max-width: 990px) {

    .LedgerTop_Acct-Num {
        width: 35%;
    }    

    .LedgerTop_Name {
        padding-left: 0px;
    }

    .LedgerTop_Balance {
        padding-left: 0px;
    }
}

@media screen and (max-width: 760px) {

    .balance {
        right: 30px;
        bottom: 4px;
    }

    .initial-depo {
        right: 80px;
        bottom: 4px;
    }
}

@media screen and (max-width: 600px) { 

    .initial-depo {
        right: 70px;
    }
}

@media screen and (max-width: 400px) {

    .LedgerTop {
        padding: 0 10px;
    }

    .LedgerTop_Name {
        font-size: 3rem;
        padding-left: 5px;
    }

    .LedgerTop_Balance {
        width: 100%;
        padding-left: 1rem;
    }

    .LedgerTop_Initial {
        padding: 1rem;
    }    

    .initial-depo {
        padding: 1px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .balance {
        padding: 1px;
        margin-top: 5px;
    }
    
}