html {
  font-size: 10px;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: rgb(53, 207, 53);
}

@media only screen and (max-width: 995px) {
  /* For tablet: */
  
 html {
   font-size: 8px;
 }

}

@media only screen and (max-width: 599px) {
  /* For mobile-phone: */
  
 html {
   font-size: 7px;
 }

}