html {
  font-size: 10px;
}


@media only screen and (max-width: 1000px) {
  /* For tablet: */
  
 html {
   font-size: 8px;
 }

}

@media only screen and (max-width: 650px) {
  /* For mobile-phone: */
  
 html {
   font-size: 6px;
 }

}