.Account {
    font-size: 2rem;
    margin-top: 170px;
    height: 24rem;
    display: flex;
    padding: 1rem;
}

.Account_Name {
    padding: 1rem 4rem ;
    font-weight: bolder;
    width: 30%;
}

.Account_Number {
    padding: 1rem 0;    
    font-weight: bold;
    width: 65%;
}

.Account_Delete {
    font-size: 3rem;
    float: right;
    color: red;
}

.Account_Balance {
    padding: 2rem 4rem 0;
    font-size: 2rem;    
    font-weight: bold;
}

.Account_Add-Funds,
.Account_Subtract-Funds {
    font-size: 2rem;
    font-weight: 900;
    width: 5rem;
    height: 2rem;
    margin: 0 4rem;
    padding-bottom: 3rem;
    background-color: rgb(133, 148, 212);
    float: center;
}

.padd-down {
    padding-top: 2rem;
}

.Account_Add-Funds {    
    margin: 1rem 0 0 0;    
    color: green;
}

.Account_Payed-To {
    width: 150%;
    padding: 0 3rem;
}

.Account_Subtract-Funds {
    margin: 1rem 0 0 0;    
    color: red;
}

.Account_Row-Space {
    width: 100%;
    display: flex;
}

#Balance {
    padding-left: 2.5rem ;
    font-size: 2rem;
    font-weight: 500;
}
