.Account {
    font-size: 2em;
    margin-top: 170px;
    display: flex;
    padding: 1rem;
}

.Account_Name {
    padding: 3rem 4rem;
    font-weight: bolder;
    width: 30%;
}

.Account_Number {
    padding: 3rem 0;    
    font-weight: bold;
    width: 65%;
}

.Account_Delete {
    padding-bottom: 4rem; 
    font-size: 3rem;
    float: right;
    color: red;
}

.Account_Balance {
    padding: 0px 2.5rem;
    font-size: 2rem;    
    font-weight: bold;
}

.Account_Add-Funds,
.Account_Subtract-Funds {
    font-size: 2.5rem;
    font-weight: 700;
    padding:0px;
    width: 4rem;
    height: 4rem;
    margin: 0 4rem;
    background-color: rgb(133, 148, 212);
}

.Account_Add-Funds {
    color: green;
}

.Account_Subtract-Funds {
    color: red;
}

.Account_Row-Space {
    height: 10rem;
    width: 100%;
    display: flex;
}

#Balance {
    padding-left: 2.5rem ;
    font-size: 2rem;
    font-weight: 500;
}