.Header {
    width: 98%;
}

/* .Header a:hover {
    color: red;
} */

.Header_Name {
    padding: 1rem 4rem ;
    font-weight: bolder;
    width: 30%;
}

.Header_Number {
    padding: 1rem 0;    
    font-weight: bold;
    width: 65%;
}

.Header_Delete {
    float: right;
    color: red;
}

.Header_Delete:hover {
   cursor: pointer;
   font-weight: bolder;
}