#Input {
    padding: 1rem;
}

.Input-Element {    
    font-size: 1.6rem;
    margin: 3rem 0 0 0;
    width: 100%;
    position: absolute;
}

.Label {
    font-size: 1.6rem;
    opacity: 0;
}

input:focus::-webkit-input-placeholder {
    color:transparent;
}
/* 
input:invalid {
    background-color: rgb(250, 232, 232);
}

input:valid { 
    background-color: rgb(255, 255, 255);
} */

input:focus + label, 
input:valid + label {
    opacity: 1;
    font-size: 1.4rem;
    font-weight: 500;
    animation: moveUp .5s ease-out;
    color: rgb(49, 64, 199);
} 

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

@keyframes moveUp {
    0% {
        transform: translateY(3rem);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}


@media screen and (max-width: 600px) {
    /* For mobile: */

    #Input {
        padding: 0rem;
    }

    .Input-Element {    
        font-size: 2rem;
        font-weight: 500;
        margin: .5rem .5rem;
    }

    .Label {
        font-size: 2.5rem;
        font-weight: 900;
        margin: 4.5rem .5rem 0;
    }

    input:focus + label, 
    input:valid + label {
    animation: moveDown .5s ease-out;
    color: rgb(49, 64, 199);
} 

@keyframes moveDown {
    0% {
        transform: translateY(-3rem);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

} 