#Input {
    padding: 1rem;
}

.Input-Element {
    
    font-size: 1.6rem;
    margin: 3rem 0 0 0;
    width: 100%;
    position: absolute;
}

.Label {
    font-size: 1.6rem;
    opacity: 0;
}

input:focus::-webkit-input-placeholder {
    color:transparent;
}

input:focus + label, 
input:valid + label {
    opacity: 1;
    font-size: 1.4rem;
    font-weight: 500;
    animation: moveUp .5s ease-out;
    color: rgb(49, 64, 199);
} 


@keyframes moveUp {
    0% {
        transform: translateY(3rem);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}