.Account {
    font-size: 2.2rem;
    height: 24rem;
    padding: 1rem;
}

.Account_Balance {
    padding: 2rem 4rem 0;
    font-size: 2rem;    
    font-weight: bold;
}

.Account_Add-Funds,
.Account_Subtract-Funds {
    font-size: 2rem;
    font-weight: 900;
    width: 5rem;
    height: 2rem;
    margin: 0 4rem;
    padding-bottom: 3rem;
    background-color: rgb(133, 148, 212);
    float: center;
}

.padd-down {
    padding-top: 2.8rem;
}

.Account_Add-Funds {    
    margin: 1rem 0 0 0;    
    color: green;
}

.Account_Payed-To {
    width: 100%;
    padding: 0 3rem;
}

.Account_Subtract-Funds {
    margin: 1rem 0 0 0;    
    color: red;
}

#Acct_Balance {
    padding-left: 3.5rem ;
    font-size: 2.5rem;
    font-weight: 700;
}

@media screen and (max-width: 995px) {
    /* For medium tablet */

    .card {
        width: 110%;
        right: 5%;
        margin: 0;
    }

    
.Account_Add-Funds,
.Account_Subtract-Funds {
    margin-top: 0rem;
}

}

@media screen and (max-width: 775px) {
    /* For medium tablet */

    .card {
        width: 105%;
        right: 2.5%;
    }

}

@media screen and (max-width: 766px) {
    /* For medium tablet */


    .Account {
        width: 130%;
        right: 15%;
        height: 27rem;
    }

    
.Account_Add-Funds,
.Account_Subtract-Funds {
    width: 415%;
}

} 