.credit, .debit {
    color: red;
    font-size: 2rem;
    float: right;
    width: 2%;
}

.credit:hover, .debit:hover {
    cursor: pointer;
    font-weight: bolder;
}

.Line {
    text-decoration: none;
}

.Line_Credit, 
.Line_Debit {
    display: flex;
    font-size: 2rem;
    padding: 3px 8px;
    list-style-type: none;
}

.Line_Debit {
    background-color: rgb(255, 239, 239);
    color: rgb(0, 0, 0);
}

.Line_Credit { 
    background-color: rgba(245, 245, 245, 0.5);
    color: rgb(8, 8, 8);
}

.Line-ammount {
    width: 22%;
    font-weight: 600;
    overflow: hidden;
}

.Line-type {
    overflow: hidden;
    width: 18%;
}

.Line-party {
    overflow: hidden;
    width: 60%;
}

@media screen and (max-width: 400px) {
    .Line-ammount {
        width: 27%;
        font-weight: 600;
        overflow: hidden;
    }
    
    .Line-type {
        overflow: hidden;
        width: 18%;
    }
    
    .Line-party {
        overflow: hidden;
        width: 55%;
    }

}